* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.menu {
  margin: auto;
}

#menu {
  list-style: none;
  display: flex;
  padding: 10px;
  font-size: 15pt;
}

.menu li {
  margin: auto 15px;
}

.menu li a {
  padding: 10px;
}

.menu li a:hover {
  border-bottom: 2px solid #fff;
}

.page_content {
  max-width: 80%;
  margin: auto;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 30vh;
  border: 1px solid #fff;
  padding: 10px;
}

.profile_pic_section {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: auto;
}
.profile_pic {
  background-image: url(img/R.png);
  background-position: center;
  background-size: cover;
}

/* Secção da Experiencia */
.work_experience {
  border: 1px solid #fff;
  margin-top: 15px;
  height: 60vh;
  padding: 10px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 15px;
  height: 50vh;
}

.skills div {
  border: 1px solid #fff;
  padding: 15px;
}

.skills .title {
  text-align: center;
}

#skills2 {
  height: 60vh;
}

.softSkills_pContacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
